VITE_SUPABASE_URL=https://uglbkfrodrbuslxqluqc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnbGJrZnJvZHJidXNseHFsdXFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMTk4OTgsImV4cCI6MjA5OTU5NTg5OH0.3Tr52on4lmCf2y5sH0Q039acmIVDGB26Iwp9-XwxM1Y

